{{#if log}}
     <main>
        <br>
        <div class="Abertura">
        <h1>Bem-Vindo(a) {{nome}}</h1>
        <h2>A melhor escolha para compra de carros</h2>
    </div>
        <div class="Princ">
        <p>Aqui na Palald você encontra os melhores preços em carros, compras totalmente online até mesmo com possibilidade de entrega em sua residência, carros para todos os gostos e todas as necessidades.</p>
    </div>
    </main>
{{else}}
    <main>
        <br>
        <div class="Abertura">
        <h1>Bem-Vindo A Palald Cars</h1>
        <h2>A melhor escolha para compra de carros</h2>
    </div>
        <div class="Princ">
        <p>Aqui na Palald você encontra os melhores preços em carros, compras totalmente online até mesmo com possibilidade de entrega em sua residência, carros para todos os gostos e todas as necessidades.</p>
        <br>
        <p>Já tem uma conta? <button><a href="/login">Fazer Login</a></button></p>
        <p>É novo aqui? <button><a href="/cadastro">Cadastre-se</a></button></p>
                
    </div>
    </main>
{{/if}}
