<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/novos.css">
    <script src="/js/itens_carrinho.js" defer></script>
    <title>Palald Cars</title>
</head>
    <body>
        <main>
       <section>
            <div class="produto">
                <img src="./img/carros-em-linhares.png" alt="Toyota Corolla">
                <h3>Toyota <br> Corolla 2021</h3>
                <p class="preco">R$ <span class="valor-preco">50000</span></p>
                <br>
                <button class="adicionar-ao-carrinho" data-nome="Toyota Corolla" data-preco="50000" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
                
            </div>
            <div class="produto">
                <img src="./img/argo_banner1.png" alt="Fiat Argo">
                <h3>Fiat <br> Argo 2021</h3>
                <p class="preco">R$ <span class="valor-preco">30000</span></p>
                <br>
                <button class="adicionar-ao-carrinho" data-nome="Fiat Argo" data-preco="30000" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
                
            </div>
            <div class="produto">
                <img src="./img/novo-onix-branco-summit.png" alt="Chevrolet Onix">
                <h3>Chevrolet <br> Onix 2023</h3>
                <p class="preco">R$ <span class="valor-preco">25000</span></p>
                <br>
                <button class="adicionar-ao-carrinho" data-nome="Chevrolet Onix" data-preco="25000" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
                
            </div>
        </section>
        </main>
    </body>